@page "/"

<PageTitle>Home</PageTitle>

<h1>Enmanuel Gomez (2022-0069)!</h1>

Bienvenido, espero que te encuentres bien, ya puedes seguir viendo los combos disponibles, gracias por preferirnos, espero que sean de su agrado los combos.
